@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";
*{
	font-family: "Poppins", sans-serif;
}
.btn {
	background: #ff8133;
	color: white;
}
.orrange {
	color: #ff8133;
}
a.active {
	background-color: #ff8133;
	color: white;	border-radius: 5px;
}
.bg-orrange {
	background-color: #ff8133;
	color: white
}

	